@using Microsoft.AspNetCore.Components.Authorization
@using KanbaneManager.BlazorApp.Pages.Auth

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>К сожалению здесь ничего нет</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>





