@if (!string.IsNullOrWhiteSpace(Message))
{
    <div class="alert @alertClass">@Message <span @onclick="HideMessage">x</span></div>
}

@code {
    [Parameter]
    public string Message { get; set; }

    private KanbaneManager.Shared.Entities.AuthModels.AlertMessageType messageType;

    [Parameter]
    public KanbaneManager.Shared.Entities.AuthModels.AlertMessageType MessageType
    {
        get => messageType;
        set
        {
            messageType = value;
            switch (messageType)
            {
                case KanbaneManager.Shared.Entities.AuthModels.AlertMessageType.Error:
                    alertClass = "alert-danger";
                    break;
                case KanbaneManager.Shared.Entities.AuthModels.AlertMessageType.Warning:
                    alertClass = "alert-warning";
                    break;
                case KanbaneManager.Shared.Entities.AuthModels.AlertMessageType.Success:
                    alertClass = "alert-success";
                    break;
                default:
                    break;
            }
        }
    }

    string alertClass = "alert-info";

    void HideMessage()
    {
        Message = string.Empty;
    }
}
